@model IEnumerable<digiturkveri.paketkampanya>
@{
    ViewBag.Title = ViewBag.isim;
}



<section class="slider-content d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sliderWrap">
                    <div class="sliderArea" style="position:absolute; top:0px; z-index:0; width:100%; height:555px;">
                        <div class="banner" data-startHeight="555">
                            <ul>
                                <!-- first item -->
                                @Html.Partial("_spor", digiturkpartnerweb.Models.Data.spor)
                                <!-- second item -->
                                @Html.Partial("_dizi", digiturkpartnerweb.Models.Data.taraftar)
                                <!-- third item -->
                                @Html.Partial("_film", digiturkpartnerweb.Models.Data.dizi)
                            </ul>
                        </div>
                        <div class="campaign-area">
                            <div class="left-radius"></div>
                            <div class="right-radius"></div>
                            <div class="all-campaign">
                                <div class="campaign-outer">
                                    @Html.Partial("_spor1", digiturkpartnerweb.Models.Data.spor)
                                </div>
                                @Html.Partial("_dizi1", digiturkpartnerweb.Models.Data.taraftar)
                                @Html.Partial("_film1", digiturkpartnerweb.Models.Data.dizi)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mobile-slider-content d-block d-lg-none">
    <div class="mobile-sliderWrap">
        <div class="mobile-sliderArea d-none" style="position:relative;">
            <div class="asddd">
                <div class="mobile-banner">
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li data-transition="slideleft" data-slotamount="1" data-thumb="">
                                @if (item.pspor == true)
                                {
                                    <img src="/dosyalar/assets/images/banner/dummy.webp" title="digiturk" alt="digiturk" data-lazyload="/dosyalar/assets/images/banner/banner-01.07.201/sporun_yildizi/_mobil/mobil_source.webp" />
                                    <div class="tp-caption sfl rs-parallaxlevel-0 slideText1 white-color f-36 gotham-bi"
                                         data-x="30" data-y="74" data-speed="600" data-start="600" data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 3;">
                                        DÜNYANIN SPORU
                                    </div>
                                    <div class="tp-caption sfl slideText2 white-color f-36 gotham-boldi" data-x="30"
                                         data-y="195" data-speed="600" data-start="600" data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 3;">
                                        BU PAKETTE!
                                    </div>
                                }
                                else if (item.pdizi == true)
                                {
                                    <img src="/dosyalar/Assets/images/banner/dummy.webp" data-lazyload="/dosyalar/Assets/images/banner/banner-01.07.201/dizinin_yildizi/mobil_source.webp"
                                         alt="digiturk" />
                                    <div class="tp-caption sfl rs-parallaxlevel-0 slideText1 white-color f-36 gotham-bi"
                                         data-x="30" data-y="74" data-speed="600" data-start="600" data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 3;">
                                        TAKIMININ MAÇLARI VE
                                    </div>
                                    <div class="tp-caption sfl slideText2 white-color f-36 gotham-boldi" data-x="30"
                                         data-y="195" data-speed="600" data-start="600" data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 3;">
                                        EN POPÜLER DİZİLER!
                                    </div>
                                }
                                else if (item.ptaraftar == true)
                                {
                                    <img title="digiturk" alt="digiturk" src="/dosyalar/Assets/images/banner/dummy.webp" data-lazyload="/dosyalar/assets/images/banner/banner-01.07.201/taraftar_paketi/_mobil/mobil_taraftar.webp" />
                                    <div class="tp-caption sfl rs-parallaxlevel-0 slideText1 white-color f-36 gotham-bi"
                                         data-x="30" data-y="74" data-speed="600" data-start="600" data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 3;">

                                        Futbol sensiz olmaz!
                                    </div>
                                    <div class="tp-caption sfl slideText2 white-color f-36 gotham-boldi" data-x="30"
                                         data-y="195" data-speed="600" data-start="600" data-easing="Power3.easeInOut"
                                         data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 3;">
                                        Tuttuğun takımın tüm...
                                    </div>

                                }


                                <div class="campaign sfl tp-caption" data-speed="600" data-start="600" data-easing="Power3.easeInOut"
                                     data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 3;">
                                    <div class="campaign-top">
                                        <div class="media">
                                            <svg width="28px" height="39px" viewBox="0 0 28 39" version="1.1">
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Homepage-7.4.1" transform="translate(-954.000000, -503.000000)"
                                                       fill="#353535" fill-rule="nonzero" stroke="#353535"
                                                       stroke-width="0.22">
                                                        <g id="Slider" transform="translate(135.000000, 174.000000)">
                                                            <g id="3" transform="translate(800.000000, 315.000000)">
                                                                <g id="icon/popcorn" transform="translate(20.000000, 15.000000)">
                                                                    <path d="M26.6371648,10.042022 C26.6446813,10.0925495 26.6442637,10.1451648 26.6346593,10.1973626 L22.8354945,31.6189231 C22.8346593,31.6247692 22.832989,31.6301978 22.8317363,31.636044 C22.8304835,31.6427253 22.8292308,31.6494066 22.8275604,31.6556703 C22.8250549,31.6648571 22.8221319,31.674044 22.8192088,31.6832308 C22.8175385,31.6886593 22.8158681,31.6936703 22.8141978,31.6990989 C22.8108571,31.7095385 22.8062637,31.7195604 22.8020879,31.7295824 C22.8004176,31.7333407 22.7987473,31.7375165 22.7970769,31.7412747 C22.7912308,31.7533846 22.7853846,31.7654945 22.7787033,31.7767692 C22.7778681,31.7784396 22.777033,31.7805275 22.7757802,31.7821978 C22.7678462,31.7955604 22.7594945,31.8080879 22.7507253,31.8206154 C22.7482198,31.8243736 22.7452967,31.8277143 22.7423736,31.8314725 C22.7361099,31.8398242 22.7294286,31.8481758 22.7227473,31.8561099 C22.7185714,31.8611209 22.713978,31.8657143 22.7093846,31.8703077 C22.7035385,31.8765714 22.6972747,31.8828352 22.691011,31.8890989 C22.686,31.8936923 22.680989,31.8978681 22.675978,31.9024615 C22.6692967,31.9087253 22.6621978,31.9145714 22.6550989,31.92 C22.6500879,31.9237582 22.6450769,31.9275165 22.6400659,31.9312747 C22.6317143,31.9375385 22.6233626,31.9433846 22.6145934,31.9488132 C22.6116703,31.9509011 22.6087473,31.952989 22.6058242,31.9550769 L13.3605495,37.5778242 C13.2816264,37.6258462 13.1930989,37.6496484 13.1045714,37.6496484 C13.0135385,37.6496484 12.9225055,37.6245934 12.8427473,37.5744835 L6.09043956,33.3368571 C6.0136044,33.3113846 5.94512088,33.267956 5.88958242,33.2107473 L3.33564835,31.6080659 C3.33230769,31.605978 3.3298022,31.6034725 3.32646154,31.6013846 C3.31769231,31.5955385 3.30934066,31.5896923 3.30098901,31.5834286 C3.29597802,31.5792527 3.29096703,31.5754945 3.28595604,31.5713187 C3.27885714,31.5658901 3.27217582,31.560044 3.26549451,31.5537802 C3.26048352,31.5491868 3.25547253,31.5445934 3.25046154,31.5395824 C3.24461538,31.5337363 3.23876923,31.5274725 3.23292308,31.5212088 C3.22832967,31.5161978 3.22373626,31.5111868 3.21914286,31.5057582 C3.2132967,31.4990769 3.20786813,31.4915604 3.20243956,31.4844615 C3.1990989,31.4794505 3.19492308,31.4744396 3.19158242,31.4694286 C3.18531868,31.4602418 3.17947253,31.4506374 3.17362637,31.441033 C3.17153846,31.4376923 3.16945055,31.4343516 3.16736264,31.431011 C3.15232967,31.4038681 3.1398022,31.3754725 3.12978022,31.3454066 C3.12936264,31.344989 3.12936264,31.344989 3.12936264,31.3445714 C3.12476923,31.3303736 3.12059341,31.3157582 3.11725275,31.3011429 C3.116,31.2948791 3.11516484,31.289033 3.11391209,31.2827692 C3.11224176,31.2744176 3.11057143,31.2660659 3.10931868,31.2577143 L0.0868571429,9.72465934 C0.0864395604,9.72340659 0.0864395604,9.72173626 0.0864395604,9.72006593 C0.0851868132,9.70920879 0.0843516484,9.69793407 0.0835164835,9.68707692 C0.0830989011,9.68164835 0.0822637363,9.67621978 0.0822637363,9.67079121 C0.0818461538,9.66076923 0.0822637363,9.65032967 0.0826813187,9.64030769 C0.0826813187,9.63362637 0.0826813187,9.62736264 0.0830989011,9.6210989 C0.0839340659,9.61274725 0.0851868132,9.6043956 0.086021978,9.59604396 C0.0872747253,9.58810989 0.0881098901,9.57975824 0.0893626374,9.57182418 C0.0906153846,9.56514286 0.0922857143,9.55887912 0.0935384615,9.5521978 C0.0956263736,9.54259341 0.0977142857,9.53298901 0.10021978,9.52338462 C0.10189011,9.51795604 0.103978022,9.51252747 0.105648352,9.5070989 C0.108989011,9.49665934 0.11232967,9.48663736 0.116087912,9.47661538 C0.116923077,9.47494505 0.117340659,9.47369231 0.117758242,9.47202198 C0.320285714,8.96674725 0.732857143,8.61681319 1.29283516,8.44810989 C0.922857143,7.95285714 0.714901099,7.32314286 0.737450549,6.66378022 C0.742043956,6.43953846 0.772945055,6.2178022 0.828901099,6.00567033 C1.01597802,5.29578022 1.46696703,4.73204396 2.09918681,4.41843956 C2.3798022,4.27938462 2.69424176,4.21841758 2.99824176,4.15953846 C3.0303956,4.15327473 3.06296703,4.14951648 3.09595604,4.15035165 L3.70520879,4.15494505 C3.73235165,4.15536264 3.75949451,4.15786813 3.78621978,4.16246154 C4.14116484,4.22426374 4.54371429,4.29441758 4.90116484,4.51156044 C4.90784615,4.51573626 4.91452747,4.51991209 4.92079121,4.52408791 C4.94292308,4.53912088 4.99595604,4.56375824 5.04230769,4.58547253 C5.07112088,4.59925275 5.10285714,4.61386813 5.13584615,4.63015385 C5.20391209,4.3223956 5.32041758,4.01463736 5.51668132,3.73610989 C5.51793407,3.73443956 5.51876923,3.73318681 5.52002198,3.73151648 C5.65156044,3.54945055 5.79687912,3.3916044 5.95263736,3.26215385 C6.1083956,3.1327033 6.28127473,3.02621978 6.46542857,2.94562637 C7.24338462,2.61281319 8.12949451,2.72138462 8.84147253,3.18072527 C9.01101099,2.36101099 9.40938462,1.74883516 10.0591429,1.29367033 C10.2424615,1.16171429 10.4408132,1.04854945 10.6479341,0.956681319 C11.0646813,0.77210989 11.5236044,0.674813187 11.9758462,0.674813187 C11.9791868,0.674813187 11.9825275,0.674813187 11.9858681,0.674813187 C12.1391209,0.675230769 12.2932088,0.686505495 12.4443736,0.709054945 C13.0882857,0.78756044 13.7075604,1.05815385 14.1894505,1.47114286 C14.3552308,1.61312088 14.5043077,1.77138462 14.6316703,1.94134066 C14.6341758,1.94468132 14.6370989,1.94843956 14.6396044,1.9521978 C14.6483736,1.93340659 14.6583956,1.91545055 14.6692527,1.89791209 C14.7481758,1.7718022 14.8354505,1.65362637 14.9277363,1.54630769 C15.0154286,1.43648352 15.1106374,1.32916484 15.2104396,1.22810989 C15.3123297,1.12496703 15.4209011,1.02641758 15.5328132,0.934967033 C15.7002637,0.798417582 15.8794066,0.675230769 16.0652308,0.567912088 C17.6524615,-0.392527473 19.8531209,0.0388351648 20.9734945,1.53127473 C20.976,1.5341978 20.9780879,1.53753846 20.9801758,1.54046154 C21.3292747,2.0281978 21.4002637,2.50465934 21.4633187,2.92516484 C21.4666593,2.94813187 21.4687473,2.97151648 21.4687473,2.9949011 C21.4708352,3.26716484 21.4720879,3.48221978 21.4887912,3.7761978 C21.4892088,3.78538462 21.4896264,3.79415385 21.4896264,3.80334066 C21.490044,3.9616044 21.4829451,4.1632967 21.4311648,4.37250549 C21.7748352,4.30694505 22.1285275,4.31153846 22.4659341,4.39213187 C22.6333846,4.42261538 22.8054286,4.46520879 22.9770549,4.51865934 C23.1407473,4.57002198 23.3052747,4.63140659 23.4664615,4.70156044 C23.4827473,4.70865934 23.4986154,4.71659341 23.5140659,4.72536264 C23.6836044,4.82224176 23.8401978,4.93540659 23.9796703,5.06193407 C24.1266593,5.19556044 24.2561099,5.34463736 24.3634286,5.50582418 C24.9150549,6.3318022 24.9463736,7.44340659 24.5500879,8.34246154 C24.9196484,8.36751648 25.2938022,8.45479121 25.6199341,8.60595604 C26.2371209,8.89241758 26.5991648,9.3692967 26.6396703,9.94931868 C26.6417582,9.98105495 26.6405055,10.011956 26.6371648,10.042022 Z M21.9038681,31.2272308 L25.5234725,10.8174725 L22.5887033,12.1282637 L20.1976264,32.2649231 L21.9038681,31.2272308 Z M17.0553187,34.1757802 L19.1277802,32.9155165 L21.5405714,12.5963736 L18.0938462,14.1355824 L17.0553187,34.1757802 Z M13.4666154,36.3584835 L16.0364176,34.7958901 L17.0837143,14.586989 L13.4461538,16.2113846 L13.4666154,36.3584835 Z M6.71347253,32.5622418 L8.69281319,33.8045495 L8.34162637,14.2140879 L5.05232967,12.6268571 L6.71347253,32.5622418 Z M4.05389011,30.8931648 L5.66951648,31.9070549 L4.02173626,12.1295165 L1.23145055,10.7832308 L4.05389011,30.8931648 Z M9.33630769,14.6938901 L9.68958242,34.4300879 L12.4802857,36.1814286 L12.4602418,16.2013626 L9.33630769,14.6938901 Z M2.57021978,9.35342857 C2.23531868,9.30540659 1.49118681,9.25195604 1.15002198,9.64782418 L12.9609231,15.3465714 L25.5322418,9.73175824 C25.4566593,9.6449011 25.3472527,9.56806593 25.2044396,9.50167033 C24.646967,9.24276923 23.9090989,9.29789011 23.656044,9.46074725 C23.6456044,9.46826374 23.6351648,9.47536264 23.6247253,9.48246154 C23.4025714,9.63446154 23.0994066,9.58017582 22.9440659,9.36052747 C22.7883077,9.14087912 22.8375824,8.83646154 23.0543077,8.67694505 C23.0672527,8.66734066 23.0806154,8.65773626 23.0943956,8.64854945 C23.8548132,8.10193407 24.0744615,6.85169231 23.542044,6.05452747 C23.478989,5.96057143 23.402989,5.87287912 23.3157143,5.79353846 C23.2351209,5.72046154 23.1445055,5.65448352 23.045956,5.59602198 C22.9256923,5.54465934 22.8033407,5.49956044 22.6818242,5.46156044 C22.5448571,5.41896703 22.4087253,5.38556044 22.2771868,5.36217582 C22.2663297,5.36050549 22.2554725,5.358 22.2446154,5.35549451 C21.8044835,5.24692308 21.2908571,5.36551648 20.9054286,5.66534066 C20.7083297,5.81859341 20.4281319,5.80021978 20.2527473,5.62232967 C20.0773626,5.44443956 20.0623297,5.16298901 20.2176703,4.96756044 C20.2652747,4.90784615 20.2978462,4.83142857 20.33,4.70364835 C20.3433626,4.65186813 20.3546374,4.59883516 20.3663297,4.5458022 C20.3905495,4.43514286 20.4176923,4.30945055 20.4602857,4.17916484 C20.4890989,4.09147253 20.502044,3.97956044 20.5024615,3.81795604 C20.4861758,3.52063736 20.4840879,3.29347253 20.482,3.03749451 C20.4314725,2.69925275 20.3821978,2.40443956 20.1809231,2.1209011 C19.3674725,1.04312088 17.7155165,0.72032967 16.5696703,1.41643956 C16.5663297,1.41852747 16.5625714,1.42061538 16.5592308,1.4227033 C16.4176703,1.50413187 16.2811209,1.59808791 16.1537582,1.70206593 C16.0685714,1.77096703 15.9867253,1.84571429 15.9094725,1.9238022 C15.8322198,2.00189011 15.7587253,2.08457143 15.6914945,2.16975824 C15.6869011,2.1756044 15.6823077,2.18145055 15.6772967,2.18687912 C15.6221758,2.25076923 15.5691429,2.32134066 15.5198681,2.39692308 C15.486044,2.47208791 15.4505495,2.54474725 15.4163077,2.6149011 C15.372044,2.70468132 15.3307033,2.78986813 15.296044,2.87213187 C15.2250549,3.04083516 15.1766154,3.16318681 15.1503077,3.32061538 C15.1148132,3.53107692 14.9486154,3.69518681 14.7377363,3.72692308 C14.5264396,3.75907692 14.3197363,3.65134066 14.2236923,3.46092308 C14.1556264,3.32562637 14.1205495,3.19617582 14.0892308,3.08217582 C14.0708571,3.01494505 14.0533187,2.95147253 14.0332747,2.90428571 C13.9777363,2.77483516 13.9117582,2.62951648 13.8395165,2.5318022 C13.7576703,2.42281319 13.6587033,2.31758242 13.5472088,2.22195604 C13.2098022,1.93298901 12.7738462,1.74382418 12.3186813,1.68953846 C12.3140879,1.6887033 12.3090769,1.68828571 12.3040659,1.68745055 C12.1975824,1.67158242 12.0894286,1.66323077 11.9812747,1.66281319 C11.6618242,1.66364835 11.339033,1.73004396 11.0446374,1.86032967 C10.8984835,1.92505495 10.759011,2.00481319 10.6295604,2.09793407 C10.6278901,2.09918681 10.6258022,2.10043956 10.6241319,2.10169231 C9.98982418,2.54516484 9.72257143,3.18531868 9.73050549,4.24221978 C9.73217582,4.45936264 9.59186813,4.65186813 9.38516484,4.71701099 C9.17846154,4.78215385 8.95338462,4.70364835 8.83103297,4.52450549 C8.36626374,3.84342857 7.53527473,3.56072527 6.85503297,3.8521978 C6.75773626,3.89479121 6.66712088,3.95074725 6.58151648,4.02215385 C6.48881319,4.09940659 6.40320879,4.19294505 6.31969231,4.3081978 C6.0561978,4.68318681 6.02613187,5.22771429 6.02947253,5.65991209 C6.03114286,5.88248352 5.88415385,6.07832967 5.67076923,6.13887912 C5.45738462,6.19942857 5.2298022,6.10923077 5.11496703,5.91881319 C5.0707033,5.8449011 5.00597802,5.776 4.91118681,5.70125275 C4.86650549,5.66575824 4.82767033,5.62274725 4.7976044,5.57389011 C4.77171429,5.54883516 4.68068132,5.50665934 4.62556044,5.48076923 C4.5503956,5.44569231 4.46520879,5.40602198 4.38294505,5.35215385 C4.19378022,5.23982418 3.93404396,5.19096703 3.65718681,5.14252747 L3.13771429,5.13876923 C2.91305495,5.18261538 2.68714286,5.22896703 2.53681319,5.30371429 C2.05826374,5.54131868 1.86283516,5.95347253 1.78265934,6.25747253 C1.74632967,6.39527473 1.72628571,6.54017582 1.72336264,6.688 C1.72294505,6.69050549 1.72294505,6.69301099 1.72294505,6.69551648 C1.69621978,7.45175824 2.15054945,8.16791209 2.80364835,8.39883516 C3.04292308,8.48318681 3.17905495,8.73540659 3.11850549,8.9821978 C3.05837363,9.22857143 2.82118681,9.38934066 2.57021978,9.35342857 Z M12.6627692,12.4051209 C12.4781978,12.4051209 12.3015604,12.3007253 12.2155385,12.122 C11.719033,11.0717802 12.187978,9.73802198 13.2398681,9.20936264 C13.7881538,8.93375824 14.4654725,8.89659341 15.0517582,9.10914286 C15.1540659,9.14630769 15.2513626,9.19015385 15.3432308,9.24068132 C15.5983736,8.54624176 16.1637802,7.97791209 16.8866154,7.7732967 C17.0273407,7.73362637 17.1726593,7.70857143 17.317978,7.69854945 C17.485011,7.68727473 17.6390989,7.70230769 17.7748132,7.71567033 L18.0483297,7.74197802 C18.0687912,7.74406593 18.0888352,7.74698901 18.1088791,7.75158242 C18.1986593,7.77162637 18.2863516,7.79626374 18.3694505,7.82465934 C18.5285495,7.87894505 18.680967,7.95035165 18.8221099,8.03720879 C18.9536484,8.11821978 19.0839341,8.2176044 19.2087912,8.33243956 C19.3411648,8.45395604 19.4551648,8.59593407 19.5674945,8.77841758 C19.716989,9.02145055 19.9040659,9.40562637 19.9462418,9.85494505 C19.9671209,10.0812747 19.9441538,10.3050989 19.8773407,10.5205714 C19.7967473,10.7811429 19.5207253,10.9268791 19.2605714,10.8458681 C19.0008352,10.7648571 18.8555165,10.4884176 18.9361099,10.2278462 C18.9640879,10.1376484 18.9741099,10.0432747 18.9649231,9.94764835 C18.9461319,9.74512088 18.8621978,9.5141978 18.7285714,9.29705495 C18.6655165,9.19391209 18.6062198,9.11874725 18.5427473,9.06028571 C18.4646593,8.98846154 18.3853187,8.92749451 18.3072308,8.87947253 C18.2283077,8.83103297 18.1427033,8.79052747 18.0529231,8.76004396 C18.0115824,8.74626374 17.9681538,8.73331868 17.9226374,8.72246154 L17.680022,8.69907692 C17.5681099,8.68821978 17.4716484,8.67861538 17.386044,8.68446154 C17.3087912,8.68989011 17.2311209,8.70325275 17.155956,8.72454945 C16.5337582,8.90035165 16.1023956,9.58476923 16.1942637,10.2495604 C16.2276703,10.4942637 16.0765055,10.726022 15.8393187,10.7928352 C15.6021319,10.8596484 15.3524176,10.7410549 15.2538681,10.5147253 C15.1336044,10.2387033 14.8955824,10.1034066 14.7172747,10.0386813 C14.3857143,9.91841758 13.9898462,9.93887912 13.6833407,10.092967 C13.1087473,10.3819341 12.8398242,11.1327473 13.1079121,11.6998242 C13.2244176,11.9461978 13.1196044,12.2405934 12.8736484,12.3575165 C12.8051648,12.3896703 12.7333407,12.4051209 12.6627692,12.4051209 Z M7.31479121,9.15632967 C7.07134066,9.15632967 6.85962637,8.97593407 6.82747253,8.72789011 C6.74813187,8.13116484 6.91391209,7.53861538 7.29432967,7.06048352 C7.67015385,6.58778022 8.21134066,6.28294505 8.81808791,6.20235165 C9.42483516,6.12175824 10.0265714,6.27417582 10.5126374,6.63246154 C11.0041319,6.99492308 11.3185714,7.52316484 11.3974945,8.12030769 C11.4334066,8.39048352 11.2434066,8.63894505 10.9736484,8.67485714 C10.7034725,8.71076923 10.4558462,8.52035165 10.4199341,8.25017582 C10.3765055,7.92153846 10.201956,7.62964835 9.92802198,7.42795604 C9.64865934,7.22167033 9.3003956,7.1343956 8.94753846,7.18116484 C8.59468132,7.22793407 8.28149451,7.40373626 8.06518681,7.67558242 C7.85347253,7.94158242 7.76076923,8.26938462 7.8041978,8.5976044 C7.84010989,8.86778022 7.65010989,9.11624176 7.38035165,9.15215385 C7.35821978,9.15507692 7.33650549,9.15632967 7.31479121,9.15632967 Z"
                                                                          id="Combined-Shape"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <div class="media-body">
                                                <h5 class="title gilroy-eb f-18 white-color title fw-Bold">@item.padi</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="campaign-bottom">

                                        <span class="gilroy-l f-14 fw-Bold white-color">İlk 3 Ay T&#252;m Kanallar Hediye!</span>
                                        <div class="price-area d-flex">
                                            <div class="white-color gotham-bold f-13 text">
                                                <div class="asd">
                                                    @item.paysayi.Substring(0, 14)
                                                </div>
                                                <div class="asds">
                                                    @item.paysayi.Substring(14, 25)
                                                </div>
                                                <br />
                                            </div>
                                            <input type="hidden" name="price" class="priceNumber" value="@item.pfiyat" />
                                            <span class="new-price">
                                                <em class="f-48 fw-Bold white-color gotham-bold newPrice yazi">
                                                </em>
                                            </span>
                                        </div>

                                        @if (item.psenecekaciklama1 == null)
                                        {

                                        }
                                        else
                                        {
                                            <div class="price-area d-flex">
                                                <div class="white-color gotham-bold f-13 text">
                                                    @if (item.psenecekay1 == null)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <div class="asd">
                                                            @item.psenecekay1.Substring(0, 14)
                                                        </div>
                                                        <div class="asds">
                                                            @item.psenecekay1.Substring(14, 20)
                                                        </div>
                                                    }

                                                </div>
                                                <input type="hidden" name="price2" class="priceNumber2" value="@item.psenecekfiyat1" />
                                                <span class="new-price">
                                                    <em class="f-48 fw-Bold white-color gotham-bold newPrice2 yazi">
                                                    </em>
                                                </span>
                                            </div>
                                        }

                                        @if (item.psenecekaciklama2 == null)
                                        {

                                        }
                                        else
                                        {
                                            <div class="price-area d-flex">
                                                <div class="white-color gotham-bold f-13 text">
                                                    @if (item.psenecekay2 == null)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        <div class="asd">
                                                            @item.psenecekay2.Substring(0, 18)
                                                        </div>
                                                        <div class="asds">
                                                            @item.psenecekay2.Substring(18, 29)
                                                        </div>
                                                    }



                                                </div>
                                                <input type="hidden" name="price3" class="priceNumber3" value="@item.psenecekfiyat2" />
                                                <span class="new-price">
                                                    <em class="f-48 fw-Bold white-color gotham-bold newPrice3 yazi">
                                                    </em>
                                                </span>
                                            </div>
                                            <br />
                                            <br />
                                            <br /><br /><br /><br />
                                            <div class="bottom-area-desc gotham-m white-color f-12">
                                                <p>@item.psenecekaciklama2</p>
                                            </div>

                                        }


                                        <a title="digiturk" alt="digiturk" class="gilroy-l zi-2 green-bg white-color f-14 green-btn"
                                           href="~/paketler/@item.purl">Hemen Başvur</a>

                                    </div>
                                </div>
                                <a title="digiturk" alt="digiturk" href="~/paketler/@item.purl" class="detail-area f-12 fw-600 black-color gilroy-l sfl tp-caption" data-speed="600" data-start="600" data-easing="Power3.easeInOut"
                                   data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 3;">
                                    <span>
                                        DETAYLI İNCELE
                                        <svg width="8px" height="12px" viewBox="0 0 8 12" version="1.1">
                                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="Homepage-1" transform="translate(-1072.000000, -679.000000)" fill-rule="nonzero" stroke="#672E85" stroke-width="2">
                                                    <g id="Slider" transform="translate(135.000000, 125.000000)">
                                                        <g id="3" transform="translate(800.000000, 320.000000)">
                                                            <g id="details" transform="translate(0.000000, 220.000000)">
                                                                <polyline id="icon/arrow_right" transform="translate(140.500000, 20.000000) rotate(-90.000000) translate(-140.500000, -20.000000) " points="145.5 17.5 140.5 22.5 135.5 17.5"></polyline>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                        }


                    </ul>
                </div>
                </div>
            </div>
    </div>
</section>

<section class="divider light-grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="black-color gotham-bold" data-animation="fadeInDown" data-animation-delay="300">Digiturk’ten Yeni &#220;yeliklere &#214;zel Fırsat Paketler!</h2>
                <p class="f-15 ln-21 gilroy-l black-color mt-20 mb-30 d-block fw-900 subtext" data-animation="fadeInDown" data-animation-delay="300">
                    Yeni kanallar, yepyeni i&#231;erikler, modern st&#252;dyolar ve &#252;nl&#252; isimlerle Digiturk şimdi &#231;ok daha g&#252;&#231;l&#252;. Futboldan tenise ve basketbola T&#252;rkiye ve d&#252;nyadaki spor karşılaşmaları, aksiyondan komediye her duyguya hitap eden filmler, sevilen yabancı diziler ve ulusal kanallar Digiturk’te!
                </p>
            </div>
        </div>
        <div class="row">

            @Html.Partial("_anasayfa", digiturkpartnerweb.Models.Data.anasayfa)
        </div>
    </div>
</section>


<section class="inner-form purple-bg  ">
    <div class="container">
        <form action="/tumpaketler/anasayfadan" method="post" contact-form contactForm">
            <div class="row">
                <div class="col-lg-4" data-animation="fadeInLeft" data-animation-delay="300">
                    <h4 class="f-24 white-color gotham-bold">Sizi Arayalım</h4>
                    <p class="f-16 white-color gilroy-l mt-20 d-block ln-24">
                        Kampanyalarımız ve t&#252;m gelişmeler hakkında detaylı bilgi almak i&#231;in formu doldurun, hemen sizi arayalım.
                        Potansiyel Müşteri Aydınlatma metni için <a class="click-it" target="_blank" href="Assets/pdf/digiturk_kvkk.pdf">tıklayın.</a>
                    </p>
                </div>
                <input type="hidden" name="ipadresim" id="ipadresim" value="@Request.UserHostAddress" />

                <div class="col-lg-3" data-animation="fadeInUp" data-animation-delay="300">
                    <label class="f-15 gilroy-eb white-color input-label" for="name">AD SOYAD</label>
                    <input type="text" id="kelime" name="kelime" class="form-control input-md gilroy-l br-4" placeholder="Ad ve soyadınızı girin" autocomplete="off" required />
                </div>
                <div class="col-lg-3" data-animation="fadeInUp" data-animation-delay="300">
                    <label class="f-15 gilroy-eb white-color input-label" for="phone">TELEFON</label>
                    <input type="text" id="tele" name="tele" class="form-control phone-mask gilroy-l br-4" placeholder="(5__) ___ __ __" autocomplete="off" required />
                </div>
                <input type="text" id="ipadresim" name="ipadresim" class="form-control input-md gilroy-l br-4" hidden placeholder="@Request.UserHostAddress" autocomplete="off" required />
                <div class="col-lg-2" data-animation="fadeInUp" data-animation-delay="300">
                    <a class="br-30 gilroy-l" onclick="SendUtmParameter(this)">GÖNDER</a>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-8 form-kvkk" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="pretty p-svg p-curve">
                        <input type="checkbox" id="isbullet" name="isbullet" />
                        <div class="state p-success">
                            <!-- svg path -->
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                            </svg>
                            <label class="">Digiturk (Digital Platform Teknoloji Hizmetleri A.Ş.) tarafından  formda belirtmiş olduğum iletişim adresi üzerinden tarafıma ticari elektronik ileti gönderilmesini kabul ediyorum.</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="movie-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12 text-center">
                    <h2 class="black-color gotham-bold mb-40">Bu Ay Fimler</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel movie-slider">
                    <div class="text-center">
                        <img src="/dosyalar/Dosyalar/moviesandseries/kaansekban.jpg" alt="Kaan Sekban&#39;la Alt Tarafı Bi&#39; Talk Show" />
                        <div class="text-area">
                            <div class="black-color gilroy-eb mt-30 f-16 movie-name">Kaan Sekban&#39;la Alt Tarafı Bi&#39; Talk Show</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="~/dosyalar/Dosyalar/moviesandseries/harriet.jpg" alt="Harriet" />
                        <div class="text-area">
                            <div class="black-color gilroy-eb mt-30 f-16 movie-name">Harriet</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="~/dosyalar/Dosyalar/moviesandseries/misbehaviour.jpg" alt="Misbehaviour" />
                        <div class="text-area">
                            <div class="black-color gilroy-eb mt-30 f-16 movie-name">Misbehaviour</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="~/dosyalar/Dosyalar/moviesandseries/queenslim.jpg" alt="Queen &amp; Slim" />
                        <div class="text-area">
                            <div class="black-color gilroy-eb mt-30 f-16 movie-name">Queen &amp; Slim</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="/dosyalar/Dosyalar/moviesandseries/johnwayne.jpg" alt="Ayın Starı: John Wayne" />
                        <div class="text-area">
                            <div class="black-color gilroy-eb mt-30 f-16 movie-name">Ayın Starı: John Wayne</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="/dosyalar/Dosyalar/moviesandseries/gangsoflondon.jpg" alt="Gangs Of London  (Yeni Dizi)" />
                        <div class="text-area">
                            <div class="black-color gilroy-eb mt-30 f-16 movie-name">Gangs Of London  (Yeni Dizi)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



