@model IEnumerable<digiturkveri.kategori>

@{
    ViewBag.Title = "Kategoriler";
}

@if (Request.IsAuthenticated)
{

    <section id="blog-section">

        <div class="content-wrapper">

            <div class="content-dimmer"></div>
            <header class="page-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <br />
                            <h3 class="page-header-heading"><span class="typcn typcn-th-small-outline page-header-heading-icon"></span>Kategoriler</h3>
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="">
                        <h4 class="panel-title txt-dark">

                            <a class="" href="~/Admin/kategoris/create"><button type="button" class="btn btn-outline-primary">Kategori Oluştur</button></a>
                        </h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </header>
            <div class="container" style="background: #ffffff;border-top-width: 50px;padding-top: 50px;padding-bottom: 50px;">
                <table id="datable_1" class="table table-hover display">
                    <thead>
                        <tr>
                            <th>Blog Adı</th>
                            <th>Tarih</th>
                            <th>Gösterim Sayısı</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.kateadi)</td>
                                <td>@Html.DisplayFor(modelItem => item.katetarih)</td>
                                <td>@Html.DisplayFor(modelItem => item.kateaktif)</td>
                                <td>
                                    @Html.ActionLink("Düzenle", "Edit", new { id = item.kateid })
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @*<header class="page-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1 class="page-header-heading"><span class="typcn typcn-th-small-outline page-header-heading-icon"></span>Aktif Olmayan Bloglar</h1>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="container" style="background: #ffffff;border-top-width: 50px;padding-top: 50px;padding-bottom: 50px;">
                    <table id="datable_2" class="table table-hover display  pb-30">
                        <thead>
                            <tr>
                                <th>Blog Adı</th>
                                <th>Tarih</th>
                                <th>Gösterim Sayısı</th>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var asd in ViewBag.Aktifblog)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => asd.padi)</td>
                                    <td>@Html.DisplayFor(modelItem => asd.ptarih)</td>
                                    <td>@Html.DisplayFor(modelItem => asd.paktif)</td>
                                    <td>
                                        @Html.ActionLink("Düzenle", "BlokEdit", new { id = asd.pid })
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>*@
        </div>
    </section>
}

